:root {
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

// :root {
//   font-family: "Equity A";
// }

main h1 {
  font-family: "alright";
  font-weight: 700;
  font-style: italic;
  font-synthesis: none;
  color: #3b3b3b;
  font-size: 2.5rem;
}

body {
  --stripe-height: 1rem;
  gap: 1rem;
  line-height: 1.4;
  background-color: #f3f4f6;
  color: #2f2f2f;
  max-width: 42rem;
  padding: var(--stripe-height) 1rem 0;
  margin: 0 auto;
  overflow-x: clip;

  &:before {
    content: "";
    display: block;
    height: var(--stripe-height);
    background-color: hsl(144, 46%, 20%);
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: calc(var(--stripe-height) * -1);
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #767676;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

hr {
  border: none;
  border-bottom: 1px solid #727272;
  margin: 1em 0;
}

ul,
ol {
  padding-left: 1.5em;
}

li::marker {
  color: #767676;
  font-feature-settings: "ss01" 1, "tnum" 1;
}

.tnum {
  font-feature-settings: "ss01" 1, "tnum" 1;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

code,
pre {
  font-family: "jetbrains mono", monospace;
  font-size: 0.8rem;
}

:not(pre) > code {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
  padding: 0.1em 0.25em;
  border-radius: 4px;
  font-size: 0.85em;
}
