.fence-wrapper {
  &:hover .fence-header button {
    background-color: hsla(0, 0%, 100%, 0.6);
  }

  .fence-header {
    background-color: var(--bg);
    color: var(--fg);
    padding: 0.5rem 1rem 0.25rem;
    border-radius: 8px 8px 0 0;
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";

    > div {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    button {
      background: hsla(0, 0%, 100%, 0.3);
      border: none;
      cursor: pointer;
      padding: 0.25em 0.5em;
      margin: 0;
      line-height: 1;
      border-radius: 4px;
      font-size: 0.9em;
      transition: background 0.2s ease-in-out;
      color: black;

      &:hover {
        background: hsla(0, 0%, 100%, 0.8);
      }
    }

    .language {
      font-weight: bold;
    }

    & + pre {
      margin-top: 0;
      padding-top: 0;
    }
  }

  pre {
    padding: 0.5em 1em;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 24rem;
    border-radius: 0 0 8px 8px;
    position: relative;
    border-right: 6px solid var(--bg);
    border-bottom: 6px solid var(--bg);
    background-color: var(--bg);
    color: var(--fg);
    color-scheme: dark;

    .line-number {
      display: inline-block;
      width: 2rem;
      text-align: right;
      margin-left: -1rem;
      padding-right: 1rem;
      user-select: none;
      position: sticky;
      left: -1rem;
      background: var(--bg);
      color: hsla(0, 0%, 100%, 0.4);
    }
  }
}
