---
title: Guestbook
---

<h1>Guestbook</h1>

<p>
  Thanks for visiting my website! If you want, please sign my guestbook (ya
  know, like it's 2007)!
</p>

<div class="guestbook-grid">
  <form
    class="guestbook-form"
    hx-post="https://api.jameslittle.me/guestbook"
    hx-ext="json-enc"
    hx-swap="none"
  >
    <label for="name" class="required">Name:</label>
    <input type="text" required id="name" name="name" autocomplete="off" />

    <label for="name">Email (never displayed):</label>
    <input type="email" required id="email" name="email" />

    <label for="name">URL:</label>
    <input type="url" id="URL" name="URL" />

    <label for="message" class="required">Message:</label>

    <textarea
      name="message"
      id="message"
      style="height: 10rem"
      placeholder="Type something nice!"
      required
    ></textarea>

    <button type="submit" hx-disabled-elt="this" class="submit-button">
      Submit
    </button>
    <span class="htmx-indicator">(Loading...)</span>
    <div class="form-message form-message-success">
      Thanks for signing my guestbook! I'll review your message and post it
      soon.
    </div>
    <div class="form-message form-message-error">
      There was an error submitting your message. Please try again and/or let me
      know.
    </div>
  </form>
  <div class="guestbook-entries">
    <ul>
      {% for entry in guestbook %}
      <li class="guestbook-entry" data-entry="{{entry.id}}">
        <div class="guestbook-metadata">
          <span class="name">{{entry.name}}</span>
          <div>
            <span class="timestamp metadata">
              <span>{{entry.created_at | readableDate}}</span>
            </span>
            {% if entry.url %}
            <span class="url">
              <a href="{{entry.url}}">{{entry.url}}</a>
            </span>
            {% endif %}
          </div>
        </div>
        <div class="message">
          <p>{{entry.message}}</p>
        </div>
        {% if env == "development" %}
        <div class="admin-actions">
          <button
            hx-post="https://api.jameslittle.me/guestbook/{{entry.id}}/delete"
            hx-confirm="Are you sure you want to delete this entry from {{entry.name}}?"
            hx-target="[data-entry='{{entry.id}}']"
            hx-swap="none"
          >
            Delete
          </button>
          <button onclick="navigator.clipboard.writeText('{{entry.id}}')">
            Copy ID
          </button>
        </div>
        {% endif %} {% if guestbookResponses[entry.id] %}
        <div class="response">
          <p>
            <strong>James: </strong>&ldquo;{{
            guestbookResponses[entry.id].message }}&rdquo;
          </p>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script src="https://unpkg.com/htmx.org@1.9.9"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<script>
  document.body.addEventListener("htmx:afterRequest", function (evt) {
    if (evt.detail.xhr.responseURL.includes("guestbook")) {
      evt.detail.target.reset();

      htmx.addClass(
        evt.detail.target,
        evt.detail.successful ? "success" : "error"
      );
    }
  });
</script>

{% if env == "development" %}
<script>
  document.body.addEventListener("htmx:configRequest", function (evt) {
    evt.detail.headers["Authorization"] = "Bearer {{jil_api_admin_key}}";
  });
  document.body.addEventListener("htmx:afterRequest", function (evt) {
    if (
      evt.detail.xhr.responseURL.includes("delete") &&
      evt.detail.successful
    ) {
      evt.detail.target.remove();
    }
  });
</script>
{% endif %}
