---
permalink: /blog/
layout: "base"
title: "Blog"
---

<h1>Blog Posts</h1>
{% for year, yearPosts in collections.blogByYear %}
<h2>{{ year }}</h2>
<ul>
  {% for post in yearPosts | reverse %}
  <li class="blog-post-preview
  {{env}}
  {% if env == development %}development{% endif %}
  {% if post.data.draft %}draft{% endif %}
  {% if post.data.outdated %}outdated{% endif %}
  ">
    <span class="tnum">{{post.date | htmlDateString}}</span>
    <a href="{{post.url}}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
