.blog-post-content article {
  position: relative;
  font: var(--font-prose);

  > * + * {
    margin-top: var(--space-600);
  }

  a:link,
  a:visited {
    color: var(--color-brand);
  }

  p:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  blockquote {
    margin: 0;
    padding: 1em 1em;
    background-color: var(--hue-gray-25);
    border: var(--border-subdued);
    border-left: 4px solid var(--hue-gray-400);
    border-radius: var(--radius-medium);
    font-size: 0.9em;
  }

  > h1 {
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  > h2 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h3 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h4 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h5,
  > h6 {
    color: red;
  }

  li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  ol,
  ul {
    li {
      > p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      > *:first-child {
        margin-top: 1.25em;
      }

      > *:last-child {
        margin-bottom: 1.25em;
      }
    }

    ol,
    ul {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    ul {
      list-style-type: disc;
    }
  }

  hr + * {
    margin-top: 0;
  }

  h2 + * {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  h4 + * {
    margin-top: 0;
  }
}

.blog-post-meta {
  margin-bottom: var(--space-800);

  h1 {
    font: var(--font-display);
    color: var(--color-heading);
    line-height: 1.1;
    font-size: 2.75rem;
    margin-bottom: 0.1rem;
    text-wrap: pretty;
  }

  .date {
    font: var(--font-text-large);
    color: var(--color-text-subdued);
  }

  .outdated {
    font: var(--font-text-small);
    border: var(--border-subdued);
    border-radius: var(--radius-medium);
    padding: var(--space-200) var(--space-400);
  }
}

.blog-post-aside {
  margin-top: var(--space-800);
  border-top: var(--border-subdued);
  padding-top: var(-space-400);
  font: var(--font-text-small);
}

ul:has(> .blog-post-preview) {
  margin: 0;
  padding: 0;
}

.blog-post-preview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .tnum {
    flex-shrink: 0;
  }

  a {
    color: inherit;
  }

  &.development.outdated {
    color: var(--hue-gray-300);
    text-decoration: line-through;
  }

  &.development.draft {
    color: var(--hue-red-400);

    a::before {
      content: "(DRAFT) ";
      font-weight: bold;
    }
  }

  @media screen and (max-width: 52rem) {
    margin-bottom: 0.8rem;
    list-style-type: none;
    flex-direction: column;

    .tnum {
      display: block;
      font-size: 0.8em;
    }
  }
}
