.blog-post-content article {
  line-height: 1.5;
  position: relative;
  font-family: var(--font-equity);
  font-size: 1.133em;

  > * + * {
    margin-top: 1.66em;
  }

  a:link,
  a:visited {
    color: #297045;
  }

  // a[href^="http"]:after {
  //   content: " ";
  //   display: inline-block;
  //   height: 0.8em;
  //   width: 0.8em;
  //   margin-left: 0.1em;
  //   background-size: contain;
  //   vertical-align: baseline;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.34 17.979'%3E%3Cg fill='%23297045'%3E%3Cpath d='M3.066 17.979h11.846c2.05 0 3.066-1.006 3.066-3.018V3.027C17.979 1.016 16.963 0 14.913 0H3.066C1.026 0 0 1.016 0 3.027v11.934c0 2.012 1.025 3.018 3.066 3.018Zm.02-1.573c-.977 0-1.514-.517-1.514-1.533V3.115c0-1.015.537-1.543 1.514-1.543h11.807c.966 0 1.513.528 1.513 1.543v11.758c0 1.016-.547 1.533-1.513 1.533Z'/%3E%3Cpath d='M12.05 11.406c.43 0 .723-.332.723-.781v-4.61c0-.576-.322-.8-.82-.8H7.324c-.459 0-.752.283-.752.713s.303.713.772.713H9.12l1.445-.157L9.043 7.9l-3.604 3.604a.764.764 0 0 0-.224.527c0 .44.283.723.713.723.234 0 .42-.088.556-.225l3.594-3.593 1.406-1.504-.146 1.523v1.69c0 .459.283.761.713.761Z'/%3E%3C/g%3E%3C/svg%3E");
  // }

  p:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  blockquote {
    margin: 0;
    padding: 1em 1em;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-left: 4px solid #aaa;
    border-radius: 4px;
    font-size: 0.9em;
    font-feature-settings: "cv06" 1, "cv10" 1, "cv11" 1, "cv12" 1, "cv13" 1;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: var(--font-alright);
  }

  > h1 {
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  > h2 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h3 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h4 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  > h5,
  > h6 {
    color: red;
  }

  li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  ol,
  ul {
    li {
      > p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      > *:first-child {
        margin-top: 1.25em;
      }

      > *:last-child {
        margin-bottom: 1.25em;
      }
    }

    ol,
    ul {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  hr + * {
    margin-top: 0;
  }

  h2 + * {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  h4 + * {
    margin-top: 0;
  }
}

.blog-post-meta {
  margin-bottom: 2rem;

  h1 {
    font-family: var(--font-alright);
    margin-bottom: 0.25rem;
    text-wrap: pretty;
  }

  .date {
    font-size: 1.125rem;
    color: hsl(144, 46%, 30%);
  }

  .outdated {
    font-family: var(--font-inter);
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
  }
}

.blog-post-aside {
  margin-top: 4rem;
  border-top: 1px solid #aaa;
  padding-top: 1rem;
  font-size: 0.9em;
}

ul:has(> .blog-post-preview) {
  margin: 0;
  padding: 0;
}

.blog-post-preview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .tnum {
    flex-shrink: 0;
  }

  a {
    color: inherit;
  }

  &.outdated {
    opacity: 0.15;
    text-decoration: line-through;
  }

  &.draft {
    color: red;
  }

  &.draft a::before {
    content: "(DRAFT) ";
    font-weight: bold;
  }

  @media screen and (max-width: 52rem) {
    margin-bottom: 0.8rem;
    list-style-type: none;
    flex-direction: column;

    .tnum {
      display: block;
      font-size: 0.8em;
    }
  }
}
