:root {
  font: var(--font-text);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  --vw: 1vw; // This gets overwritten by Javascript to fix desktop scrollbar issues: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  --content-width: min(42rem, calc(95 * var(--vw)));
  --capsule-padding: 0.5em;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main h1 {
  font: var(--font-display);
  font-synthesis: none;
  font-size: 2.5rem;
}

body {
  background-color: var(--color-background-surface);
  color: var(--color-text);
  width: var(--content-width);
  padding: 0.7em;
  margin: 0 auto;
}

.full-width-capsule {
  --full-width-padding: calc((50 * var(--vw)) - (var(--content-width) / 2));
  margin-left: calc(var(--full-width-padding) * -1);
  margin-right: calc(var(--full-width-padding) * -1);
  padding-left: max(var(--full-width-padding), 1em);
  padding-right: max(var(--full-width-padding), 1em);
  border-radius: var(--radius-large);
}

a:link {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:active {
  opacity: 0.7;
}

a:visited {
  color: var(--color-link-visited);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em 0;
  font: var(--font-heading);
  color: var(--color-heading);
  font-size: revert;

  &:first-child {
    margin-top: 0;
  }
}

h1:first-of-type {
  margin-top: 0;
}

hr {
  border: none;
  border-bottom: var(--border-standard);
  margin: var(--space-400) 0;
}

ul,
ol {
  padding-left: var(--space-600);
}

li::marker {
  color: var(--color-text-subdued);
  font-feature-settings: var(--util-font-feature-alternatives);
}

.tnum {
  font-feature-settings: var(--util-font-feature-alternatives);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-medium);
}

/* Our pre tags intentionally don't have code tags within them. */
code,
pre {
  font: var(--font-monospace);
}

:not(pre) > code {
  background-color: var(--color-background-offset);
  padding: var(--space-50) var(--space-100);
  border-radius: var(--radius-medium);
}

pre {
  font-size: 0.7em;
  line-height: 1.6;
}
