.fence-wrapper {
  position: relative;

  &:hover .fence-header button {
    background-color: hsla(0, 0%, 100%, 0.6);
  }

  .fence-header {
    background-color: var(--bg);
    border: 1px solid hsla(0, 0%, 100%, 0.05);
    color: var(--fg);
    filter: brightness(1.6);
    padding: 0.5rem 1rem 0.25rem;
    border-radius: 8px;
    font-size: 0.75em;
    font-family: var(--font-inter);
    position: absolute;
    top: -0.75em;
    right: 1.25em;
    z-index: 3;
  }

  pre {
    padding: 0.5em 1em;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 24rem;
    border-radius: 8px;
    position: relative;
    border: 6px solid var(--bg);
    border-left: none;
    background-color: var(--bg);
    color: var(--fg);
    color-scheme: dark;

    .line:hover .line-number {
      background-color: var(--bg);
      filter: brightness(1.2);
    }

    .line-number {
      display: inline-block;
      width: 2rem;
      text-align: right;
      margin-left: -1rem;
      padding-right: 1rem;
      user-select: none;
      -webkit-user-select: none;
      position: sticky;
      left: -1rem;
      background: var(--bg);
      color: hsla(0, 0%, 100%, 0.4);
    }
  }
}
