figure {
  margin-left: 0;
  margin-right: 0;

  &.half-middle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &.wide-half-left,
  &.half-left {
    width: 50%;
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .half-right {
    width: 50%;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  > p {
    margin: 0;
  }
}

figcaption {
  font: var(--font-text-small);
  color: var(--color-text-subdued);
  margin-top: 0.5em;
  text-align: center;
  font-feature-settings: var(--util-font-feature-alternatives);
  margin-top: 0;
}
