footer {
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid transparent;
  border-top: var(--border-standard);
  font: var(--font-text-small);
  transition: all var(--transition-small);

  &:hover {
    background-color: var(--color-background-offset);
    border: var(--border-standard);
    border-radius: var(--radius-large);
  }

  @media only screen and (max-width: 800px) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  a:link,
  a:visited {
    color: currentColor;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 4px;
  }
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 52rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}
