footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-brand-dark);
  color: white;
  font: var(--font-text-small);

  @media only screen and (max-width: 800px) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  a:link,
  a:visited {
    color: currentColor;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 4px;
  }
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 52rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}
