.guestbook-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 1rem;
  width: 120%;
  margin-left: -10%;

  @media (max-width: 52rem) {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;
  }
}

.guestbook-form {
  padding: 1rem;
  border: var(--border-subdued);
  border-radius: var(--radius-medium);
  background-color: var(--color-background-surface);
  position: sticky;
  top: 6rem;

  @media (max-width: 52rem) {
    position: static;
  }

  display: flex;
  flex-direction: column;

  label {
    margin-top: 1rem;
    padding-left: 0.25em;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  input,
  textarea {
    border: var(--border-subdued);
    border-radius: var(--radius-small);
    background-color: var(--color-background-raised);
    padding: 0.25em;
    font-family: inherit;
  }

  input {
    font-size: 1em;
  }

  textarea {
    font-size: 0.9rem;
  }

  button[type="submit"] {
    align-self: start;

    font-size: 1.1rem;
    background: var(--color-brand);
    color: white;
    border: none;
    border-radius: var(--radius-pill);
    padding: 0.25em 0.75em;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: var(--color-brand-dark);
    }
  }

  .actions-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
  }

  .htmx-indicator {
    display: none;
  }

  .htmx-request .htmx-indicator {
    display: inline;
  }

  .htmx-request.htmx-indicator {
    display: inline;
  }

  .success {
    border: 1px solid green;
  }

  .error {
    border: 1px solid red;
  }

  .form-message {
    display: none;
    margin-top: 0.5rem;
  }

  .success .form-message-success {
    display: block;
  }

  .error .form-message-error {
    display: block;
  }
}

.guestbook-entries ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.guestbook-entry {
  border: var(--border-subdued);
  border-radius: var(--radius-medium);
  list-style-type: none;
  margin: 1em 0;
  padding: 0.5em;

  &:first-child {
    margin-top: 0;
  }

  .guestbook-metadata {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background-offset);
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .name {
    font-weight: bold;
  }

  .url {
    font-size: 0.8em;
  }

  .message,
  .response {
    p {
      margin-top: 0.5em;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .response {
    background-color: var(--color-background-offset);
    padding: 0.5em;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    font-size: 0.8em;
  }
}
