header {
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(8px);
  background-color: oklch(from var(--color-background-surface) l c h / 0.5);
  position: sticky;
  top: 1rem;
  z-index: 10;
  color: var(--hue-gray-900);
  display: flex;
  gap: 2em;
  align-items: center;
  overflow: auto;
  border: 1px solid transparent;
  border-radius: var(--radius-large);
  transition: backdrop-filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    border 0.2s ease-in-out;

  &:hover,
  .scrolled & {
    backdrop-filter: blur(8px);
    background-color: oklch(from var(--color-background-surface) l c h / 0.5);
    box-shadow: var(--shadow-medium);
    border: var(--border-subdued);
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  h1 {
    display: inline;
    font: var(--font-text);
    font-weight: bold;
    margin-bottom: 0rem;
    color: inherit;

    a:hover {
      color: var(--color-brand);
    }

    .home & {
      display: none;
    }
  }

  nav {
    ul {
      font: var(--font-text);
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 1em;
      text-transform: lowercase;
    }

    li {
      display: inline;
    }
  }

  a:link,
  a:visited,
  a:active,
  a:visited:active {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
