$max-photoset-width: 92rem;
$dynamic-photoset-width: 80vw;
$photoset-gutter: 10px; // change in photoset-scripts.js as well
$photoset-width: clamp(100%, $dynamic-photoset-width, $max-photoset-width);

@mixin column-width($columns) {
  display: block;
  width: calc(100 / $columns * 1% - (10px / $columns * ($columns - 1)));
}

.wide-box {
  width: $photoset-width;
  margin-left: calc((calc(-1 * $photoset-width) + 100%) / 2);
}

.photoset {
  margin-bottom: 8rem;
}

main:has(> .photoset) {
  margin-trim: block-end;
}

.photogrid {
  display: flex;
  flex-wrap: wrap;
  column-gap: $photoset-gutter;
  min-height: 300px;
  border-radius: var(--radius-large);
  margin-trim: block-end;

  a {
    height: auto;
    margin-bottom: $photoset-gutter;
    position: relative;
    border-radius: var(--radius-large);
    @include column-width(4);
    @media screen and (max-width: 1100px) {
      @include column-width(3);
    }

    @media screen and (max-width: 700px) {
      @include column-width(2);
    }

    @media screen and (max-width: 400px) {
      @include column-width(1);
    }
  }

  &.photogrid-3 a {
    @include column-width(3);
  }

  &.photogrid-2 a {
    @include column-width(2);
  }

  &.photogrid-1 a {
    @include column-width(1);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: var(--shadow-large);
    }
  }
}

.photogrid-loading {
  margin-bottom: 1rem;

  img {
    filter: brightness(0);
    background-color: #000;
    opacity: 0.1;

    &:not(.is-loaded) {
      height: 200px;
    }
  }
}

.photoset-more {
  a {
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--hue-gray-200);
    display: flex;
    text-align: center;
    transition: background-color var(--transition-medium);

    font: var(--font-text-large);
    border-radius: var(--radius-large);
    padding: 0.5rem 1rem;
    display: block;
    color: var(--hue-gray-950);
    text-decoration: none;

    &:hover {
      background-color: var(--hue-gray-300);
    }
  }
}

.photo-lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    min-height: 25vh;
    max-height: calc(100vh - 16rem);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.photo-links {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;

  a,
  a:visited {
    color: black;
  }
}

.disabled-link {
  color: #888;
  cursor: not-allowed;
}
