.project-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 0;

  @media (max-width: 52rem) {
    grid-template-columns: 1fr;
  }
}

.project-preview {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 12px;
  padding: 0.7em;
  font-size: 0.85em;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: relative;
  list-style-type: none;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin-bottom: 0.5em;

    @media (max-width: 52rem) {
      max-width: 33%;
      float: left;
      margin-right: 1em;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2+p {
    margin-top: 0.5em;
  }

  &:has(> a):hover {
    border-color: #ababab;
    /* https://smoothshadows.com/#djEsMSw1LDAuMDQsMjQsMTAsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.01),
      0px 2px 4px rgba(3, 7, 18, 0.02), 0px 4px 9px rgba(3, 7, 18, 0.02),
      0px 6px 15px rgba(3, 7, 18, 0.03), 0px 10px 24px rgba(3, 7, 18, 0.04);

    transform: rotate(-1deg) scale(1.02);
  }

  &:not(:has(> a)):hover {
    opacity: 0.75;
    transform: scale(0.98);
    cursor: not-allowed;

    &:after {
      opacity: 1;
    }
  }

  &:not(:has(> a)):after {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: calc(80% - (0.75em));
    background-color: #383838;
    color: white;
    padding: 0.5em;
    font-size: 0.75em;
    border-radius: 5px;
    text-align: center;
    transform: translateY(calc(100% + 5px));
    transition: opacity 0.3s ease-in-out;
    content: "Stripe-internal only, sorry!";
    opacity: 0;
  }
}

@supports not selector(:has(a, b)) {
  .project-preview a:hover {
    text-decoration: underline;
  }
}