.project-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 0;
  margin-top: 0;

  @media (max-width: 52rem) {
    grid-template-columns: 1fr;
  }
}

.project-preview {
  border: var(--border-subdued);
  background-color: var(--color-background-raised);
  border-radius: var(--radius-large);
  font: var(--font-text-small);
  transition: box-shadow var(--transition-small),
    transform var(--transition-small), border-color var(--transition-small);
  padding: 0.7em;
  position: relative;
  list-style-type: none;

  a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin-bottom: 0.5em;

    @media (max-width: 52rem) {
      max-width: 33%;
      float: left;
      margin-right: 1em;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 + p {
    margin-top: 0.5em;
  }

  &:has(> a):hover {
    box-shadow: var(--shadow-medium);
    transform: rotate(-1deg) scale(1.02);
  }

  &:not(:has(> a)):hover {
    opacity: 0.75;
    transform: scale(0.98);
    box-shadow: var(--shadow-well);
    cursor: not-allowed;

    &:after {
      opacity: 1;
    }
  }

  &:not(:has(> a)):after {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: calc(80% - (0.75em));
    background-color: var(--hue-gray-800);
    color: var(--hue-gray-25);
    padding: 0.5em;
    font: var(--font-text-xsmall);
    border-radius: var(--radius-medium);
    text-align: center;
    transform: translateY(calc(100% + 5px));
    transition: opacity 0.3s ease-in-out;
    content: "Stripe-internal only, sorry!";
    opacity: 0;
  }
}

@supports not selector(:has(a, b)) {
  .project-preview a:hover {
    text-decoration: underline;
  }
}
