.full-width-capsule {
  --full-width-padding: calc((50 * var(--vw)) - (var(--content-width) / 2));
  margin-left: calc(var(--full-width-padding) * -1);
  margin-right: calc(var(--full-width-padding) * -1);
  padding-left: max(var(--full-width-padding), 1rem);
  padding-right: max(var(--full-width-padding), 1rem);
}
