.fence-wrapper {
  position: relative;

  pre {
    padding: 0.5em 1em 0.5em 0;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 24rem;
    border-radius: var(--radius-medium);
    position: relative;
    border: 6px solid var(--bg);
    border-left: none;
    background-color: var(--bg);
    color: var(--fg);
    color-scheme: dark;
    border: 1px solid var(--color-border-subdued);

    .line:hover .line-number {
      background-color: var(--bg);
      filter: brightness(1.2);
    }

    .line-number {
      display: inline-block;
      width: 3rem;
      text-align: right;
      padding-right: 1rem;
      user-select: none;
      -webkit-user-select: none;
      position: sticky;
      left: 0;
      background: var(--bg);
      color: hsla(0, 0%, 100%, 0.4);
    }
  }
}

.fence-header {
  background-color: var(--bg);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  color: var(--fg);
  filter: brightness(1.6);
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius-large);
  font: var(--font-text-small);
  position: absolute;
  top: -0.75em;
  right: 1.25em;
  z-index: 3;
}
