.footnote-marker {
  cursor: pointer;
  border-radius: var(--radius-small);

  &:hover,
  &.hover {
    background-color: var(--color-background-offset);
    outline: var(--border-subdued);

    & + .footnote-content {
      outline: var(--border-subdued);
    }
  }

  @media screen and (max-width: calc(42rem + 36rem)) {
    display: none;
  }
}

.footnote-content {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  width: 14rem;
  font: var(--font-text-small);
  font-feature-settings: var(--util-font-feature-alternatives);
  margin-top: 0;
  background-color: var(--color-background-offset);
  padding: 1em;
  border-radius: var(--radius-large);

  &:hover {
    z-index: 10;
  }

  @media screen and (max-width: calc(42rem + 36rem)) {
    display: inline;
    width: 100%;
    position: static;
    margin-top: 1em;
    padding: 0.25em 0.5em;
    margin: 0 0.25em;
    outline: var(--border-subdued);

    &::before {
      content: "Footnote: ";
      font-weight: bold;
    }
  }
}
