table {
  width: 100%;
  font: var(--font-text);
  font-size: 0.9rem;
  line-height: 1.25;
  font-feature-settings: var(--util-font-feature-alternatives);
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: bold;
    padding: 0.5em 0.75em;
    border-bottom: var(--border-standard);
  }

  td {
    padding: 0.5em 0.75em;
    border-bottom: var(--border-subdued);
  }
}
