:root {
  --hue-gray-25: #fafafa;
  --hue-gray-50: oklch(96.94% 0.001 197.14);
  --hue-gray-100: oklch(93.93% 0.001 197.14);
  --hue-gray-200: oklch(87.93% 0.004 157.17);
  --hue-gray-300: oklch(80.01% 0.006 170.4);
  --hue-gray-400: oklch(71.43% 0.011 164.74);
  --hue-gray-500: oklch(58.32% 0.014 164.5);
  --hue-gray-600: oklch(54.31% 0.012 167.47);
  --hue-gray-700: oklch(48.79% 0.012 164.5);
  --hue-gray-800: oklch(43.22% 0.009 164.58);
  --hue-gray-900: oklch(34.39% 0.006 164.64);
  --hue-gray-950: oklch(27.3% 0.006 156.84);

  --hue-green-50: oklch(97.55% 0.013 167.18);
  --hue-green-100: oklch(94.09% 0.033 165.14);
  --hue-green-200: oklch(87.63% 0.068 162.45);
  --hue-green-300: oklch(80.42% 0.109 160.82);
  --hue-green-400: oklch(71.49% 0.148 157.1);
  --hue-green-500: oklch(61.57% 0.126 157.28);
  --hue-green-600: oklch(57.18% 0.116 157.34);
  --hue-green-700: oklch(52.43% 0.105 157.75);
  --hue-green-800: oklch(45.37% 0.09 157.4);
  --hue-green-900: oklch(35.42% 0.067 158.21);
  --hue-green-950: oklch(30.03% 0.054 159.32);

  --hue-blue-50: oklch(95.55% 0.014 254.61);
  --hue-blue-100: oklch(91.31% 0.029 252.95);
  --hue-blue-200: oklch(82.59% 0.06 253.17);
  --hue-blue-300: oklch(73.94% 0.091 253.54);
  --hue-blue-400: oklch(65.2% 0.124 254.68);
  --hue-blue-500: oklch(57.25% 0.154 255.04);
  --hue-blue-600: oklch(48.63% 0.13 255.66);
  --hue-blue-700: oklch(40.03% 0.102 254.95);
  --hue-blue-800: oklch(30.72% 0.074 254.68);
  --hue-blue-900: oklch(20.64% 0.042 254.09);
  --hue-blue-950: oklch(15.15% 0.023 252.18);

  --hue-red-50: oklch(95.08% 0.02 25.17);
  --hue-red-100: oklch(89.18% 0.047 22.99);
  --hue-red-200: oklch(78.83% 0.099 24.14);
  --hue-red-300: oklch(69.51% 0.154 26.06);
  --hue-red-400: oklch(62.09% 0.203 28.58);
  --hue-red-500: oklch(54.74% 0.204 29.38);
  --hue-red-600: oklch(46.63% 0.171 29.52);
  --hue-red-700: oklch(38.01% 0.137 29.21);
  --hue-red-800: oklch(29.01% 0.099 28.99);
  --hue-red-900: oklch(19.19% 0.058 28.23);
  --hue-red-950: oklch(14.46% 0.038 27.87);

  --hue-purple-50: oklch(93.79% 0.036 313.05);
  --hue-purple-100: oklch(88.45% 0.066 312.36);
  --hue-purple-200: oklch(77.19% 0.134 311.63);
  --hue-purple-300: oklch(66.54% 0.201 310.53);
  --hue-purple-400: oklch(57.72% 0.25 308.22);
  --hue-purple-500: oklch(50.05% 0.244 306.7);
  --hue-purple-600: oklch(42.74% 0.206 306.83);
  --hue-purple-700: oklch(35.09% 0.165 307.34);
  --hue-purple-800: oklch(26.82% 0.121 307.47);
  --hue-purple-900: oklch(18.03% 0.072 309.29);
  --hue-purple-950: oklch(12.38% 0.045 313.85);
}
html.dark {
  --hue-gray-25: oklch(22% 0.006 256.84);
  --hue-gray-50: oklch(28% 0.006 264.64);
  --hue-gray-100: oklch(35% 0.009 264.58);
  --hue-gray-200: oklch(42% 0.012 264.5);
  --hue-gray-300: oklch(48% 0.012 267.47);
  --hue-gray-400: oklch(52% 0.014 264.5);
  --hue-gray-500: oklch(56% 0.011 264.74);
  --hue-gray-600: oklch(63% 0.006 270.4);
  --hue-gray-700: oklch(75% 0.004 257.17);
  --hue-gray-800: oklch(87% 0.001 297.14);
  --hue-gray-900: oklch(94% 0.001 297.14);
  --hue-gray-950: #eaeaea;

  --hue-green-50: oklch(30.03% 0.054 159.32);
  --hue-green-100: oklch(35.42% 0.067 158.21);
  --hue-green-200: oklch(45.37% 0.09 157.4);
  --hue-green-300: oklch(52.43% 0.105 157.75);
  --hue-green-400: oklch(57.18% 0.116 157.34);
  --hue-green-500: oklch(61.57% 0.126 157.28);
  --hue-green-600: oklch(71.49% 0.148 157.1);
  --hue-green-700: oklch(80.42% 0.109 160.82);
  --hue-green-800: oklch(87.63% 0.068 162.45);
  --hue-green-900: oklch(94.09% 0.033 165.14);
  --hue-green-950: oklch(97.55% 0.013 167.18);

  --hue-blue-50: oklch(15.15% 0.023 252.18);
  --hue-blue-100: oklch(20.64% 0.042 254.09);
  --hue-blue-200: oklch(30.72% 0.074 254.68);
  --hue-blue-300: oklch(40.03% 0.102 254.95);
  --hue-blue-400: oklch(48.63% 0.13 255.66);
  --hue-blue-500: oklch(57.25% 0.154 255.04);
  --hue-blue-600: oklch(65.2% 0.124 254.68);
  --hue-blue-700: oklch(73.94% 0.091 253.54);
  --hue-blue-800: oklch(82.59% 0.06 253.17);
  --hue-blue-900: oklch(91.31% 0.029 252.95);
  --hue-blue-950: oklch(95.55% 0.014 254.61);

  --hue-red-50: oklch(14.46% 0.038 27.87);
  --hue-red-100: oklch(19.19% 0.058 28.23);
  --hue-red-200: oklch(29.01% 0.099 28.99);
  --hue-red-300: oklch(38.01% 0.137 29.21);
  --hue-red-400: oklch(46.63% 0.171 29.52);
  --hue-red-500: oklch(54.74% 0.204 29.38);
  --hue-red-600: oklch(62.09% 0.203 28.58);
  --hue-red-700: oklch(69.51% 0.154 26.06);
  --hue-red-800: oklch(78.83% 0.099 24.14);
  --hue-red-900: oklch(89.18% 0.047 22.99);
  --hue-red-950: oklch(95.08% 0.02 25.17);

  --hue-purple-50: oklch(12.38% 0.045 313.85);
  --hue-purple-100: oklch(18.03% 0.072 309.29);
  --hue-purple-200: oklch(26.82% 0.121 307.47);
  --hue-purple-300: oklch(35.09% 0.165 307.34);
  --hue-purple-400: oklch(42.74% 0.206 306.83);
  --hue-purple-500: oklch(50.05% 0.244 306.7);
  --hue-purple-600: oklch(57.72% 0.25 308.22);
  --hue-purple-700: oklch(66.54% 0.201 310.53);
  --hue-purple-800: oklch(77.19% 0.134 311.63);
  --hue-purple-900: oklch(88.45% 0.066 312.36);
  --hue-purple-950: oklch(93.79% 0.036 313.05);
}

:root {
  --color-text: var(--hue-gray-950);
  --color-text-subdued: var(--hue-gray-600);
  --color-heading: var(--hue-gray-900);
  --color-heading-subdued: var(--hue-gray-600);

  --color-text-success: var(--hue-green-600);
  --color-text-warning: var(--hue-orange-600);
  --color-text-error: var(--hue-red-600);
  --color-text-brand: var(--hue-green-600);

  --color-link: var(--hue-gray-800);
  --color-link-visited: var(--hue-gray-600);

  --color-border: var(--hue-gray-800);
  --color-border-subdued: var(--hue-gray-300);

  --color-background-surface: var(--hue-gray-50);
  --color-background-offset: var(--hue-gray-100);
  --color-background-raised: var(--hue-gray-25);

  --color-background-brand: var(--hue-green-800);
  --font-stack-inter:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-stack-alright:
    "alright", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-stack-equity:
    "equity", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  --font-stack-jetbrains: "berkeley-mono", monospace;

  --font-display: italic 700 1em var(--font-stack-alright);
  --font-heading: 1.25rem/1.2 var(--font-stack-alright);
  --font-text-large: 1.2rem var(--font-stack-inter);
  --font-text: 1em/1.4 var(--font-stack-inter);
  --font-text-small: 0.85rem/1.4 var(--font-stack-inter);
  --font-text-xsmall: 0.7rem/1.4 var(--font-stack-inter);
  --font-prose: 1.175rem/1.5 var(--font-stack-equity);
  --font-monospace: 0.8em var(--font-stack-jetbrains);

  --util-font-feature-alternatives:
    "cv06" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv09" 1, "cv10" 1, "cv11" 1,
    "cv12" 1, "cv13" 1, "tnum" 1;

  --border-standard: 1px solid var(--color-border);
  --border-subdued: 1px solid var(--color-border-subdued);

  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 7px;
  --radius-pill: 99999px;

  --shadow-well: inset 0px 0px 8px rgba(3, 7, 18, 0.18);

  --shadow-small:
    0px 1px 1px rgba(3, 7, 18, 0.08), 2px 4px 4px rgba(3, 7, 18, 0.06),
    4px 9px 9px rgba(3, 7, 18, 0.05), 8px 15px 15px rgba(3, 7, 18, 0.03),
    12px 24px 24px rgba(3, 7, 18, 0.02);

  --shadow-medium:
    1px 2px 2px rgba(3, 7, 18, 0.08), 4px 8px 8px rgba(3, 7, 18, 0.06),
    9px 17px 19px rgba(3, 7, 18, 0.05), 15px 31px 33px rgba(3, 7, 18, 0.03),
    24px 48px 52px rgba(3, 7, 18, 0.02);

  --shadow-large:
    2px 4px 3px rgba(3, 7, 18, 0.08), 8px 15px 12px rgba(3, 7, 18, 0.06),
    17px 35px 26px rgba(3, 7, 18, 0.05), 31px 61px 46px rgba(3, 7, 18, 0.03),
    48px 96px 72px rgba(3, 7, 18, 0.02);

  --space-50: 0.125rem;
  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
  --space-700: 1.75rem;
  --space-800: 2rem;

  --transition-small: 0.1s ease-out;
  --transition-medium: 0.2s ease-out;
  --transition-large: 0.35s ease-out;
}

html.dark {
  --color-background-brand: var(--hue-green-200);
  --color-background-raised: var(--hue-gray-100);
}
