---
layout: false
title: "Blog"
pagination:
  data: collections.blog
  size: 1
  alias: post
permalink: "/blog/{{post.date.getFullYear()}}/{{post.data.slug}}/feed.html"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <style>
    body {
      width: 95%;
      max-width: 42rem;
      margin: 0 auto;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      line-height: 1.4;
    }
    img {
      max-width: 100%;
    }
  </style>
</head>
<body>
  <h1>{{ post.data.title }}</h1>
  <a href="{{ post.url | url }}">&larr; View post</a> - {{ post.date }}
  {{ post.rawInput | renderForFeed | safe }}
</body>
</html>
