---
title: "Home"
bodyclasses: "home"
---

{% layoutblock 'head' %}
<meta property="og:url" content="https://jameslittle.me" />
<meta property="og:type" content="website" />
<meta property="og:title" content="jameslittle.me - Home" />
<meta property="og:image" content="https://jameslittle.me/og-image.jpg" />
<meta property="og:description" content="Hi, I'm James! I'm a software engineer and design enthusiast." />
<meta property="og:site_name" content="jameslittle.me" />
<meta property="og:locale" content="en_US" />
<meta property="article:author" content="James Little" />
{% endlayoutblock %}


<div class="home-lead">
  <img class="headshot" src="https://files.jameslittle.me/images/headshot.jpg" />
  <div class="content">
    <h1>Hi, I'm James!</h1>

    <p class="deck">I'm a design-driven software engineer.</p>

    <p>
      Right now, I work at <a href="https://stripe.com">Stripe</a> on the
      <a href="https://docs.stripe.com">Docs Product</a> team, where I do web
      platform engineering and web design.
    </p>

    <p>
      I started at Stripe after graduating from
      <a href="https://bowdoin.edu">Bowdoin College</a>, where
      I majored in Computer Science, built
      <a href="https://bowdoinorient.com/">a website for the student newspaper</a>, and
      <a href="https://www.youtube.com/watch?v=r7XT98HchBs">
        taught robots how to play soccer autonomously</a>.
    </p>

    <p>I build software that lets people solve problems and accomplish their tasks without getting in the way. I'm obsessed with usability, design systems, and information architecture.</p>
  </div>
</div>

<div class="home-body">
  <h2 class="arrow-link"><a href="/blog">Recent Blog Posts</a></h2>
  <ul>
    {%- for post in collections.blog | head(10) -%}
    <li class="blog-post-preview
    {% if post.data.draft %}draft{% endif %}
    {% if post.data.outdated %}outdated{% endif %}
    ">
      <span class="tnum">{{post.date | htmlDateString}}</span>
      <a href="{{post.url}}">{{ post.data.title }}</a>
    </li>

    {%- endfor -%}
  </ul>

  <h2 class="arrow-link"><a href="/projects">My Projects</a></h2>

  <ul class="project-preview-grid">
    {%- for project in collections.projects -%}
    <li class="project-preview">
      {% if project.data.url %}
      <a href="{{project.data.url}}">
        {% endif %}
        <img src="{{project.data.image}}" height="192" width="192" />
        <h2>{{project.data.title}}</h2>
        <p>{{project.data.blurb}}</p>
        {% if project.data.url %}
      </a>
      {% endif %}
    </li>
    {%- endfor -%}
  </ul>

  <h2 class="arrow-link"><a href="/photos">Recent Photography</a></h2>

  <div class="home-photo-grid">
    {%- for photo in photos | selectattr('homeSafe') | head(6) -%}
    <a href="/photos/{{photo.photoset}}/{{photo.slug}}">
      <img src="{{photo.thumb}}" />
    </a>
    {%- endfor -%}
  </div>
</div>