---
title: "Home"
---

{% layoutblock 'head' %}
<meta property="og:url" content="https://jameslittle.me" />
<meta property="og:type" content="website" />
<meta property="og:title" content="jameslittle.me - Home" />
<meta property="og:image" content="https://jameslittle.me/og-image.jpg" />
<meta
  property="og:description"
  content="Hi, I'm James! I'm a software engineer and design enthusiast."
/>
<meta property="og:site_name" content="jameslittle.me" />
<meta property="og:locale" content="en_US" />
<meta property="article:author" content="James Little" />
{% endlayoutblock %}

<img
  style="
    width: 33%;
    max-width: 12em;
    float: right;
    margin: 0 0 1em 1em;
    border-radius: 8px;
  "
  src="https://files.jameslittle.me/images/headshot.jpg"
/>

<div>
  <p style="font-weight: 650; font-size: 1.33em; margin-bottom: 0.5em">
    Hi, I'm James! I'm a software engineer and design enthusiast.
  </p>

  <p style="font-weight: 600; font-size: 1.15em; margin-bottom: 1.5em">
    I'm interested in how people interact with technology. I want to make
    software that makes the digital world friendly and intuitive.
  </p>
</div>

<p>
  Right now, I work at <a href="https://stripe.com">Stripe</a> on the
  <a href="https://stripe.com/docs">Docs Product</a> team, where I do web
  platform engineering and web design.
</p>
<p>
  I started at Stripe after graduating from
  <a href="https://bowdoin.edu">Bowdoin College</a> in Brunswick, Maine, where I
  majored in Computer Science, built a website for the
  <a href="https://bowdoinorient.com/">student newspaper</a>, and
  <a href="https://www.youtube.com/watch?v=r7XT98HchBs">
    made robots play soccer</a
  >.
</p>

<p>I live in Cambridge, Massachusetts.</p>

<h2 style="margin-top: 3.5rem">Recent Blog Posts</h2>
<ul>
  {%- for post in collections.blog | head(10) -%}
  <li class="blog-post-preview">
    <span class="tnum">{{post.date | htmlDateString}}</span>
    <a href="{{post.url}}">{{ post.data.title }}</a>
  </li>

  {%- endfor -%}
</ul>

<p><a href="/blog">Read more &rarr;</a></p>

<h2 style="margin-top: 3.5rem">My Projects</h2>

<div class="project-preview-grid">
  {%- for project in collections.projects -%}
  <div class="project-preview">
    {% if project.data.url %}
    <a href="{{project.data.url}}">
      {% endif %}
      <img src="{{project.data.image}}" />
      <h2>{{project.data.title}}</h2>
      <p>{{project.data.blurb}}</p>
      {% if project.data.url %}
    </a>
    {% endif %}
  </div>
  {%- endfor -%}
</div>

<p><a href="/projects">See more &rarr;</a></p>
