---
title: Projects
permalink: /projects/
---

<h1>My Work</h1>

<ul class="project-preview-grid">
  {%- for project in collections.projects -%}
  <li class="project-preview">
    {% if project.data.url %}
    <a href="{{project.data.url}}">
    {% endif %}
    <img src="{{project.data.image}}" height="192" width="192" />
    <h2>{{project.data.title}}</h2>
    <p>{{project.data.blurb}}</p>
    {% if project.data.url %}
    </a>
    {% endif %}
  </li>
  {%- endfor -%}
</ul>

<h2 style="margin-top: 4rem">Other things I&apos;ve made</h2>
<ul>
  <li>This blog! <small>(2023 – now)</small></li>
  <li><a href="https://jil.im">A link shortening service</a> <small>(2022)</small></li>
  <li>
    A Bowdoin Directory with live search and more information displayed. <small>(2018 – 2021)</small>
  </li>
  <li>
    <a href="https://rothrotterlaster.com">
      The website for my mom&apos;s pediatric practice
    </a>
    <small>(2019 – now)</small>
  </li>
  <li>
    <a href="https://files.jameslittle.me/projects/ait-graphics-final/index.html">
      A Marble Blast Gold clone built with WebGL
    </a>
    <small>(2018)</small>
  </li>
  <li>
    <a href="https://bowdoinorient.com/2017/04/07/housing/">
      An interactive Bowdoin campus map to visualize the likelihood of housing
      lottery outcomes
    </a>
    <small>(2017)</small>
  </li>
</ul>