---
title: "Design Tokens"
---

<h1>Design Tokens</h1>

<div class="token-list">

<h2>Color</h2>

<h3>Hues</h3>

<ul>
  <li class="token-color token-color-hue-gray-25"><div><span class="key">--hue-gray-25</span> <span class="value">#fafafa</span></div></li>
  <li class="token-color token-color-hue-gray-50"><div><span class="key">--hue-gray-50</span> <span class="value">oklch(96.94% 0.001 197.14)</span></div></li>
  <li class="token-color token-color-hue-gray-100"><div><span class="key">--hue-gray-100</span> <span class="value">oklch(93.93% 0.001 197.14)</span></div></li>
  <li class="token-color token-color-hue-gray-200"><div><span class="key">--hue-gray-200</span> <span class="value">oklch(87.93% 0.004 157.17)</span></div></li>
  <li class="token-color token-color-hue-gray-300"><div><span class="key">--hue-gray-300</span> <span class="value">oklch(80.01% 0.006 170.4)</span></div></li>
  <li class="token-color token-color-hue-gray-400"><div><span class="key">--hue-gray-400</span> <span class="value">oklch(71.43% 0.011 164.74)</span></div></li>
  <li class="token-color token-color-hue-gray-500"><div><span class="key">--hue-gray-500</span> <span class="value">oklch(58.32% 0.014 164.5)</span></div></li>
  <li class="token-color token-color-hue-gray-600"><div><span class="key">--hue-gray-600</span> <span class="value">oklch(54.31% 0.012 167.47)</span></div></li>
  <li class="token-color token-color-hue-gray-700"><div><span class="key">--hue-gray-700</span> <span class="value">oklch(48.79% 0.012 164.5)</span></div></li>
  <li class="token-color token-color-hue-gray-800"><div><span class="key">--hue-gray-800</span> <span class="value">oklch(43.22% 0.009 164.58)</span></div></li>
  <li class="token-color token-color-hue-gray-900"><div><span class="key">--hue-gray-900</span> <span class="value">oklch(34.39% 0.006 164.64)</span></div></li>
  <li class="token-color token-color-hue-gray-950"><div><span class="key">--hue-gray-950</span> <span class="value">oklch(27.3% 0.006 156.84)</span></div></li>

  <li class="token-color token-color-hue-green-50"><div><span class="key">--hue-green-50</span> <span class="value">oklch(97.55% 0.013 167.18)</span></div></li>
  <li class="token-color token-color-hue-green-100"><div><span class="key">--hue-green-100</span> <span class="value">oklch(94.09% 0.033 165.14)</span></div></li>
  <li class="token-color token-color-hue-green-200"><div><span class="key">--hue-green-200</span> <span class="value">oklch(87.63% 0.068 162.45)</span></div></li>
  <li class="token-color token-color-hue-green-300"><div><span class="key">--hue-green-300</span> <span class="value">oklch(80.42% 0.109 160.82)</span></div></li>
  <li class="token-color token-color-hue-green-400"><div><span class="key">--hue-green-400</span> <span class="value">oklch(71.49% 0.148 157.1)</span></div></li>
  <li class="token-color token-color-hue-green-500"><div><span class="key">--hue-green-500</span> <span class="value">oklch(61.57% 0.126 157.28)</span></div></li>
  <li class="token-color token-color-hue-green-600"><div><span class="key">--hue-green-600</span> <span class="value">oklch(57.18% 0.116 157.34)</span></div></li>
  <li class="token-color token-color-hue-green-700"><div><span class="key">--hue-green-700</span> <span class="value">oklch(52.43% 0.105 157.75)</span></div></li>
  <li class="token-color token-color-hue-green-800"><div><span class="key">--hue-green-800</span> <span class="value">oklch(45.37% 0.09 157.4)</span></div></li>
  <li class="token-color token-color-hue-green-900"><div><span class="key">--hue-green-900</span> <span class="value">oklch(35.42% 0.067 158.21)</span></div></li>
  <li class="token-color token-color-hue-green-950"><div><span class="key">--hue-green-950</span> <span class="value">oklch(30.03% 0.054 159.32)</span></div></li>

  <li class="token-color token-color-hue-blue-50"><div><span class="key">--hue-blue-50</span> <span class="value">oklch(95.55% 0.014 254.61)</span></div></li>
  <li class="token-color token-color-hue-blue-100"><div><span class="key">--hue-blue-100</span> <span class="value">oklch(91.31% 0.029 252.95)</span></div></li>
  <li class="token-color token-color-hue-blue-200"><div><span class="key">--hue-blue-200</span> <span class="value">oklch(82.59% 0.06 253.17)</span></div></li>
  <li class="token-color token-color-hue-blue-300"><div><span class="key">--hue-blue-300</span> <span class="value">oklch(73.94% 0.091 253.54)</span></div></li>
  <li class="token-color token-color-hue-blue-400"><div><span class="key">--hue-blue-400</span> <span class="value">oklch(65.2% 0.124 254.68)</span></div></li>
  <li class="token-color token-color-hue-blue-500"><div><span class="key">--hue-blue-500</span> <span class="value">oklch(57.25% 0.154 255.04)</span></div></li>
  <li class="token-color token-color-hue-blue-600"><div><span class="key">--hue-blue-600</span> <span class="value">oklch(48.63% 0.13 255.66)</span></div></li>
  <li class="token-color token-color-hue-blue-700"><div><span class="key">--hue-blue-700</span> <span class="value">oklch(40.03% 0.102 254.95)</span></div></li>
  <li class="token-color token-color-hue-blue-800"><div><span class="key">--hue-blue-800</span> <span class="value">oklch(30.72% 0.074 254.68)</span></div></li>
  <li class="token-color token-color-hue-blue-900"><div><span class="key">--hue-blue-900</span> <span class="value">oklch(20.64% 0.042 254.09)</span></div></li>
  <li class="token-color token-color-hue-blue-950"><div><span class="key">--hue-blue-950</span> <span class="value">oklch(15.15% 0.023 252.18)</span></div></li>

  <li class="token-color token-color-hue-red-50"><div><span class="key">--hue-red-50</span> <span class="value">oklch(95.08% 0.02 25.17)</span></div></li>
  <li class="token-color token-color-hue-red-100"><div><span class="key">--hue-red-100</span> <span class="value">oklch(89.18% 0.047 22.99)</span></div></li>
  <li class="token-color token-color-hue-red-200"><div><span class="key">--hue-red-200</span> <span class="value">oklch(78.83% 0.099 24.14)</span></div></li>
  <li class="token-color token-color-hue-red-300"><div><span class="key">--hue-red-300</span> <span class="value">oklch(69.51% 0.154 26.06)</span></div></li>
  <li class="token-color token-color-hue-red-400"><div><span class="key">--hue-red-400</span> <span class="value">oklch(62.09% 0.203 28.58)</span></div></li>
  <li class="token-color token-color-hue-red-500"><div><span class="key">--hue-red-500</span> <span class="value">oklch(54.74% 0.204 29.38)</span></div></li>
  <li class="token-color token-color-hue-red-600"><div><span class="key">--hue-red-600</span> <span class="value">oklch(46.63% 0.171 29.52)</span></div></li>
  <li class="token-color token-color-hue-red-700"><div><span class="key">--hue-red-700</span> <span class="value">oklch(38.01% 0.137 29.21)</span></div></li>
  <li class="token-color token-color-hue-red-800"><div><span class="key">--hue-red-800</span> <span class="value">oklch(29.01% 0.099 28.99)</span></div></li>
  <li class="token-color token-color-hue-red-900"><div><span class="key">--hue-red-900</span> <span class="value">oklch(19.19% 0.058 28.23)</span></div></li>
  <li class="token-color token-color-hue-red-950"><div><span class="key">--hue-red-950</span> <span class="value">oklch(14.46% 0.038 27.87)</span></div></li>

  <li class="token-color token-color-hue-purple-50"><div><span class="key">--hue-purple-50</span> <span class="value">oklch(93.79% 0.036 313.05)</span></div></li>
  <li class="token-color token-color-hue-purple-100"><div><span class="key">--hue-purple-100</span> <span class="value">oklch(88.45% 0.066 312.36)</span></div></li>
  <li class="token-color token-color-hue-purple-200"><div><span class="key">--hue-purple-200</span> <span class="value">oklch(77.19% 0.134 311.63)</span></div></li>
  <li class="token-color token-color-hue-purple-300"><div><span class="key">--hue-purple-300</span> <span class="value">oklch(66.54% 0.201 310.53)</span></div></li>
  <li class="token-color token-color-hue-purple-400"><div><span class="key">--hue-purple-400</span> <span class="value">oklch(57.72% 0.25 308.22)</span></div></li>
  <li class="token-color token-color-hue-purple-500"><div><span class="key">--hue-purple-500</span> <span class="value">oklch(50.05% 0.244 306.7)</span></div></li>
  <li class="token-color token-color-hue-purple-600"><div><span class="key">--hue-purple-600</span> <span class="value">oklch(42.74% 0.206 306.83)</span></div></li>
  <li class="token-color token-color-hue-purple-700"><div><span class="key">--hue-purple-700</span> <span class="value">oklch(35.09% 0.165 307.34)</span></div></li>
  <li class="token-color token-color-hue-purple-800"><div><span class="key">--hue-purple-800</span> <span class="value">oklch(26.82% 0.121 307.47)</span></div></li>
  <li class="token-color token-color-hue-purple-900"><div><span class="key">--hue-purple-900</span> <span class="value">oklch(18.03% 0.072 309.29)</span></div></li>
  <li class="token-color token-color-hue-purple-950"><div><span class="key">--hue-purple-950</span> <span class="value">oklch(12.38% 0.045 313.85)</span></div></li>
</ul>

<h3>Semantic colors</h3>

<h2>Fonts</h2>

<h2>Borders</h2>

<h2>Border Radius</h2>

<h2>Shadows</h2>

<h2>Space</h2>

<h2>Transitions</h2>

</div>

<style>
    .token-list ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
        gap: 0.5em;
    }
    .token-list li {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        border: var(--border-standard);
        border-radius: var(--radius-small);
        padding: 0.25em;
    }

    .token-list li div {
        display: flex;
        flex-direction: column;
    }

    .token-list .token-color::before {
        display: block;
        content: "";
        width: 1em;
        height: 1em;
        {# background-color: #000; #}
        float: left;
        border-radius: var(--radius-small)
    }

    .token-list .key {
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .token-list .value {
        font: var(--font-monospace);
        font-size: 0.7em;
    }

    .token-color-hue-gray-25::before {background-color: var(--hue-gray-25)}
    .token-color-hue-gray-50::before {background-color: var(--hue-gray-50)}
    .token-color-hue-gray-100::before {background-color: var(--hue-gray-100)}
    .token-color-hue-gray-200::before {background-color: var(--hue-gray-200)}
    .token-color-hue-gray-300::before {background-color: var(--hue-gray-300)}
    .token-color-hue-gray-400::before {background-color: var(--hue-gray-400)}
    .token-color-hue-gray-500::before {background-color: var(--hue-gray-500)}
    .token-color-hue-gray-600::before {background-color: var(--hue-gray-600)}
    .token-color-hue-gray-700::before {background-color: var(--hue-gray-700)}
    .token-color-hue-gray-800::before {background-color: var(--hue-gray-800)}
    .token-color-hue-gray-900::before {background-color: var(--hue-gray-900)}
    .token-color-hue-gray-950::before {background-color: var(--hue-gray-950)}

    .token-color-hue-green-50::before {background-color: var(--hue-green-50)}
    .token-color-hue-green-100::before {background-color: var(--hue-green-100)}
    .token-color-hue-green-200::before {background-color: var(--hue-green-200)}
    .token-color-hue-green-300::before {background-color: var(--hue-green-300)}
    .token-color-hue-green-400::before {background-color: var(--hue-green-400)}
    .token-color-hue-green-500::before {background-color: var(--hue-green-500)}
    .token-color-hue-green-600::before {background-color: var(--hue-green-600)}
    .token-color-hue-green-700::before {background-color: var(--hue-green-700)}
    .token-color-hue-green-800::before {background-color: var(--hue-green-800)}
    .token-color-hue-green-900::before {background-color: var(--hue-green-900)}
    .token-color-hue-green-950::before {background-color: var(--hue-green-950)}

    .token-color-hue-blue-50::before {background-color: var(--hue-blue-50)}
    .token-color-hue-blue-100::before {background-color: var(--hue-blue-100)}
    .token-color-hue-blue-200::before {background-color: var(--hue-blue-200)}
    .token-color-hue-blue-300::before {background-color: var(--hue-blue-300)}
    .token-color-hue-blue-400::before {background-color: var(--hue-blue-400)}
    .token-color-hue-blue-500::before {background-color: var(--hue-blue-500)}
    .token-color-hue-blue-600::before {background-color: var(--hue-blue-600)}
    .token-color-hue-blue-700::before {background-color: var(--hue-blue-700)}
    .token-color-hue-blue-800::before {background-color: var(--hue-blue-800)}
    .token-color-hue-blue-900::before {background-color: var(--hue-blue-900)}
    .token-color-hue-blue-950::before {background-color: var(--hue-blue-950)}

    .token-color-hue-red-50::before {background-color: var(--hue-red-50)}
    .token-color-hue-red-100::before {background-color: var(--hue-red-100)}
    .token-color-hue-red-200::before {background-color: var(--hue-red-200)}
    .token-color-hue-red-300::before {background-color: var(--hue-red-300)}
    .token-color-hue-red-400::before {background-color: var(--hue-red-400)}
    .token-color-hue-red-500::before {background-color: var(--hue-red-500)}
    .token-color-hue-red-600::before {background-color: var(--hue-red-600)}
    .token-color-hue-red-700::before {background-color: var(--hue-red-700)}
    .token-color-hue-red-800::before {background-color: var(--hue-red-800)}
    .token-color-hue-red-900::before {background-color: var(--hue-red-900)}
    .token-color-hue-red-950::before {background-color: var(--hue-red-950)}

    .token-color-hue-purple-50::before {background-color: var(--hue-purple-50)}
    .token-color-hue-purple-100::before {background-color: var(--hue-purple-100)}
    .token-color-hue-purple-200::before {background-color: var(--hue-purple-200)}
    .token-color-hue-purple-300::before {background-color: var(--hue-purple-300)}
    .token-color-hue-purple-400::before {background-color: var(--hue-purple-400)}
    .token-color-hue-purple-500::before {background-color: var(--hue-purple-500)}
    .token-color-hue-purple-600::before {background-color: var(--hue-purple-600)}
    .token-color-hue-purple-700::before {background-color: var(--hue-purple-700)}
    .token-color-hue-purple-800::before {background-color: var(--hue-purple-800)}
    .token-color-hue-purple-900::before {background-color: var(--hue-purple-900)}
    .token-color-hue-purple-950::before {background-color: var(--hue-purple-950)}
</style>