<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - James Little</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    {% renderlayoutblock 'head' %}
  </head>
  <body class="{{bodyclasses}}">
    <header class="full-width-capsule">
      <h1><a href="/">jameslittle.me</a></h1>
      <nav>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/read">Read</a></li>
          <li><a href="/guestbook">Guestbook</a></li>
        </ul>
      </nav>
    </header>

    <main>{{ content | safe }}</main>

    <footer class="full-width-capsule">
      <p>Written with Markdoc; built with Eleventy; hosted on Render; typeset in Alright, Equity, Inter, and Jetbrains Mono.</p>
      <p>
        I'd love to chat with you. Send me an email—hello@jameslittle.me—or find
        me elsewhere on the internet below.
      </p>
      <ul class="footer-links">
        <li><a href="https://mastodon.social/@jil" rel="me">Mastodon</a></li>
        <li>
          <a href="https://instagram.com/jameslittle230">Instagram</a>
        </li>

        <li>
          <a href="https://github.com/jameslittle230">GitHub</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/james-little-230/">LinkedIn</a>
        </li>

        <li>
          <a
            href="https://files.jameslittle.me/resume/JamesLittleSpring2024.pdf">
            Résumé&nbsp;(PDF)
          </a>
        </li>
        <li><a href="/feed.xml">RSS Feed</a></li>
      </ul>
      <p>
        Made in Brunswick, SF, and Cambridge between 2016 and {{ copyrightYear
        }}.
      </p>
      <p>
        Deployed commit:
        <code>
          <a
            href="https://github.com/jameslittle230/jameslittle.me/tree/{{commit}}">
            {{commit | truncate(10, true, "")}}
          </a>
        </code>
      </p>
    </footer>
    <script
      data-goatcounter="https://jil.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
