---
layout: "base"
markdocRenderMode: "default"
---

{% layoutblock 'head' %}
<meta property="og:url" content="https://jameslittle.me{{page.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="https://jameslittle.me{{page.url}}og-image.jpg">
<meta property="og:description" content="{{page.blurb}}">
<meta property="og:site_name" content="jameslittle.me">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="James Little">
{% endlayoutblock %}

{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

<div class="blog-post-meta">
  <h1>{{ title }}</h1>
  <div class="date">{{ date | readableDate }}</div>
  {% if outdated %}
  <p class="outdated"><strong>This post is outdated. </strong>{{outdated}}</p>
  {% endif %}
</div>

<div class="blog-post-content">
{{ content | safe }}
</div>

<aside class="blog-post-aside">
I'm James Little, a software engineer and design enthusiast based in Cambridge, MA. I work at Stripe on their documentation web team.

<hr />

<div>{% if previousPost %}Next: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
<div>{% if nextPost %}Prev: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</div>
</aside>

<script>
  const r = (e) => e.getBoundingClientRect();
  const px = (num) => `${num}px`;
  const article = document.querySelector("article");

  const positionFootnotes = () => {
    document.querySelectorAll(".footnote-marker").forEach(function (el) {
      const content = document.getElementById(el.dataset.contentId);
      content.style.left = px(r(content).width * -1 - 16);
      content.style.top = px(r(el).top - r(article).top);


      content.addEventListener("mouseover", () => {
        el.classList.add("hover");
      });

      content.addEventListener("mouseout", () => {
        el.classList.remove("hover");
      });
    });
  };

  addEventListener("load", positionFootnotes);
  positionFootnotes();
</script>

<script>
  const copyButtons = document.querySelectorAll("button.copy");
  copyButtons.forEach(copyButton => {
    const fenceWrapper = copyButton.closest("[data-content]");
    const content = fenceWrapper.getAttribute("data-content");
    copyButton.addEventListener("click", () => {
      navigator.clipboard.writeText(content);
      copyButton.innerText = "Copied!";
      setTimeout(() => {
        copyButton.innerText = "Copy";
      }, 2000);
    });
  })
  </script>
