---
pagination:
    data: photos
    size: 1
    alias: photo
permalink: "photos/{{photo.photoset}}/{{photo.slug}}/"
eleventyComputed:
    title: "{{ photo.setTitle }} - Photo {{photo.indexWithinSet + 1}}"
---

{% for photo in pagination.items %}
    <div class="photo-links">
        <a href="/photos/{{photo.photoset}}/">&larr; Back to {{photo.setTitle}}</a>
        <div>
            {% if pagination.page.previous.photoset == photo.photoset %}
            <a href="{{pagination.href.previous}}">&larr; Previous</a>
            {% else %}
            <span class="disabled-link">&larr; Previous</span>
            {% endif %}

            {% if pagination.page.next.photoset == photo.photoset %}
            <a href="{{pagination.href.next}}">Next &rarr;</a>
            {% else %}
            <span class="disabled-link">Next &rarr;</span>
            {% endif %}
        </div>
    </div>
    <div class="wide-box photo-lightbox">
        <img src={{photo.src}} alt={{photo.alt}} />
    </div>
{% endfor %}