---
pagination:
  data: photosets
  size: 1
  alias: set
permalink: "photos/{{set.slug}}/"
eleventyComputed:
  title: "{{ set.title }} - Photos"
---

<div class="photo-links">
<a href="/photos">&larr; Back to all photos</a>
</div>

{% for photoset in pagination.items %}
  {% html "head" %}
    <meta property="og:url" content="https://jameslittle.me{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://jameslittle.me{{page.url}}og-image.jpg">
    <meta property="og:description" content="{{photoset.description}}">
    <meta property="og:site_name" content="jameslittle.me">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="James Little">
  {% endhtml %}

  <h1>{{ photoset.title }}</h1>
  {% if photoset.description %}
      <p>{{photoset.description}} <small>({{photoset.photos | length}} photos)</small></p>
  {% endif %}

  {% set photogrid %}
    {% set photos = photoset.photos %}
    {% include "photogrid.njk" %}
  {% endset %}
  {{ photogrid | safe }}

{% endfor %}

{% html "foot" %}
{% include "photogrid-scripts.html" %}
{% endhtml %}
